@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Electrolize');
@import url('https://fonts.googleapis.com/css?family=Monofett');

/* Main Styles */

*
{
	margin: 0;
  color: rgb(220, 220, 220);
}

body
{
  background-color: rgb(20, 20, 20);
	background-image: url('../img/background.png');
  position: relative;
}

main
{
  font-family: 'Press Start 2P', cursive;
	margin-top: 137px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;

	/* Test Code - No Release!!! */
	border: 5px solid limegreen;
}

hr
{
    color: rgba(20, 20, 20, 0.9);
    margin: 0 auto;
    width: 90%;
}

ul
{
    overflow: hidden;
    margin-bottom: 15px;
    background-color: rgb(20, 20, 20);
}

li 
{
    float: left;
}

li a 
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover 
{
    background-color: #212121;
}

li a:hover:not(.active)
{
	background-color: #4A9F50;
}

li a.active {
    background-color: #4A9F50;
}

#slogon
{
	font-size: 10px;
	color: red;
	display: inline;
}

#join-us
{
	float: right;
	margin-right: 50px;
	margin-top: 15px;
}

#title-logo
{
	font-size: 30px;
}

.title
{
	color: rgb(220, 220, 220);
}

.title span
{
	color: limegreen;
}

.login
{
	float: right;
	margin-right: 15px;
}

.header-content
{
	font-family: 'Press Start 2P', cursive;
	background-color: rgb(20, 20, 20);
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
}

.header-content h1
{
	font-size: 30px;
	margin: 20px;
}

.footer-content
{
	font-family: 'Press Start 2P', cursive;
	background-color: rgb(20, 20, 20);
	display: flex;
	width: 100%;
	left: 0;
	bottom: 0;
}

.footer-logo
{
	width: 100%;
	padding: 35px;
}

.img-button
{
	text-decoration: none;
	font-size: 15px;
	color: rgb(220, 220, 220);
}

.not-needed
{
	clear: left;
}

#nav-trigger 
{
  display: none;
  text-align: center; 
}

#nav-trigger span 
{
    display: inline-block;
    padding: 5px 20px;
    background-color: #4A9F50;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
}
    
#nav-trigger span:after
{
      display: inline-block;

     
      height: 10px;
      content: "";
}

#nav-trigger span:hover
{
      background-color: #212121;
}

nav#nav-content ul 
{
    list-style-type: none;
    padding: 0;
    text-align: center;
    list-style-type: none;
    overflow: hidden;
    margin-left: 15px;
    background-color: rgb(20, 20, 20);
}

nav#nav-content li
{
    display: inline-block;
    padding: 0 5px;
}
    
nav#nav-content li:last-child 
{
      border-right: none;
}

nav#nav-content a 
{
    display: block;
    color: white;
    padding: 10px 30px; 
}

nav#nav-content a:hover 
{
      background-color: #212121;
      color: #fff; 
}

nav#nav-small 
{
  position: relative;
  display: none; 
}

nav#nav-small ul 
{
    display: none;
    list-style-type: none;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: rgb(20, 20, 20);
    padding: 0;
}

nav#nav-small li 
{
    display: block;
    padding: 5px 0;
    border-bottom: solid 1px #484848; 
}

nav#nav-small li:last-child 
{
      border-bottom: none; 
}

nav#nav-small a 
{
    display: block;
    color: white;
    padding: 10px 30px;
}

nav#nav-small a:hover 
{
      background-color: #212121;
      color: #fff; 
}

@media (min-width: 1107px)  and (max-width: 1271px) 
{
  main
  {
    margin-top: 178px;
  }
}

@media (min-width: 745px)  and (max-width: 1106px) 
{
  .login
  {
    float: left;
  }

  #nav-content ul li
  {
    margin-top: 5px;
    float: left;
  }

  main
  {
    margin-top: 188px;
  }
}

@media all and (max-width: 744px) 
{
  nav
  {
    margin-bottom: 25px;
  }

  li
  {
    width: 100%;
  }

  .header-content
  {
    text-align: center;
  }

  .login
  {
    float: left;
  }

  .img-button
  {
    float: none;
  }

  #nav-trigger 
  {
    display: block; 
  }

  nav#nav-content 
  {
    display: none; 
  }

  nav#nav-small 
  {
    display: block; 
  }

  #nav-content ul li
  {
    float: none;
    position: absolute;
    right: 0;
    top: 0;
  }

  .footer-content
  {
    text-align: center;
    margin: 0 auto;
  }

  .footer-logo
  {
    text-align: center;
    margin: 0 auto;
    width: auto;
  }  

  #join-us
  {
    margin-right: 65px;
    margin-top: 30px;
  }
}

/* Toolbase Styles */
table 
{
    width: 100%;
}

th, td 
{
    font-family: 'Press Start 2P', bold;
    font-size: 12px;
    text-align: left;
    padding: 8px;
}

th 
{
    background-color: #4CAF50;
    color: white;
}

.filename
{
  width: 50px;
}